server:
  port: 8090

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        show_sql: false
    defer-datasource-initialization: true
  servlet:
    multipart:
      max-file-size: 10MB      # 파일 1개당 최대 허용 용량
      max-request-size: 50MB   # 요청 1번당(파일 여러 개 합쳐서) 최대 허용 용량

#mybatis:
#  configuration:
#    map-underscore-to-camel-case: true
#  type-aliases-package: com.example.instagramclone.domain
#  mapper-locations: classpath:mapper/**/*.xml

logging:
  level:
    root: info
    com:
      example:
        instagramclone: debug
    org:
      hibernate:
        SQL: info
        type:
          descriptor:
            sql: info



file:
  upload:
    location: ${user.home}/instagram-clone/uploads/
    allowed-extensions: .jpg,.jpeg,.png,.gif,.webp,.heic # 콤마로 구분하여 작성

jwt:
  secret-key: L6h/xMxGO53HQmR/OB99qR/y0kTr2CAyaI5RqBIX184=  # 토큰발급시와 토큰위조검사시 사용할 서명
  access-token-validity-time: 3600000  # 1시간 (ms)
  refresh-token-validity-time: 604800000 # 7일 (ms)
